{:mvn/repos
 {"nexus-releases" {:url "https://nexus.redplanetlabs.com/repository/maven-public-releases"}}
 :aliases
 {:dev
  {:jvm-opts ["-Xss2m"
              "-XX:-OmitStackTraceInFastThrow"
              "-XX:+UnlockDiagnosticVMOptions"
              "-XX:+DebugNonSafepoints"]
   :extra-paths ["development/src"
                 "bases/server/resources"
                 "bases/server/src"
                 "bases/web-ui/resources"
                 "bases/web-ui/src"
                 "components/user/resources"
                 "components/user/src"
                 "components/clj-rama/resources"
                 "components/clj-rama/src"
                 "components/quiz/resources"
                 "components/quiz/src"
                 "components/session/resources"
                 "components/session/src"]

   :extra-deps {;; Ui compiler
                ;;com.hyperfiddle/electric {:mvn/version "v2-alpha-349-ge9996713"}
                com.hyperfiddle/electric {:mvn/version "v2-alpha-428-g22937f75"}
                ;; Server
                info.sunng/ring-jetty9-adapter {:mvn/version "0.17.7"
                                                :exclusions [org.slf4j/slf4j-api
                                                             info.sunng/ring-jetty9-adapter-http3]}
                ;; Basic server auth
                ring-basic-authentication/ring-basic-authentication {:mvn/version "1.2.0"}
                ;; Clojure core
                org.clojure/clojure {:mvn/version "1.11.1"}
                org.clojure/clojurescript {:mvn/version "1.11.60"}
                ;; XML
                org.clojure/data.xml {:mvn/version "0.0.8"}
                ;; CSS in CLJ
                com.thheller/shadow-css {:mvn/version "0.4.4"}
                ;; Some nice browser utils
                reagent-utils/reagent-utils {:mvn/version "0.3.6"}
                ;; Routing lib
                metosin/reitit {:mvn/version "0.7.0-alpha5"}
                ;; Schema lib
                metosin/malli {:mvn/version "0.11.0"}
                ;; Env var loader
                yogthos/config {:mvn/version "1.2.0"}
                ;; Cljs compiler
                thheller/shadow-cljs {:mvn/version "2.25.4"}
                ;; Log
                org.clojure/tools.logging {:mvn/version "1.2.4"}
                ch.qos.logback/logback-classic {:mvn/version "1.2.11"}
                ;; Data viewer
                djblue/portal {:mvn/version "0.44.0"}
                ;; Rama stuff
                com.rpl/rama {:mvn/version "0.9.4"}
                com.rpl/rama-helpers {:mvn/version "0.9.0"}}}

  :test
  {:extra-paths ["bases/server/test"
                 "bases/web-ui/test"]}

  :nrepl
  {:extra-deps
   {cider/cider-nrepl {:mvn/version "0.29.0"}}
   :main-opts
   ["-m" "nrepl.cmdline"]}

  :shadow
  {:main-opts
   ["-m" "shadow.cljs.devtools.cli"]}

  :poly
  {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
   :extra-deps {polyfy/polylith
                {:git/url "https://github.com/polyfy/polylith"
                 :sha "d239f8b2cfd950bf5c2f7a757e51b7aacf6e92ca"
                 :deps/root "projects/poly"}}}}}
