{:deps {:aliases [:dev]}
 :nrepl {:port 9001}
 :builds {:app {:target :browser
                :output-dir "bases/web-ui/resources/web-ui/public/js"
                :asset-path "/js"
                :modules {:main {:init-fn quizy.web-ui.app/start!}}
                ;; For dev
                :dev {:devtools {:watch-dir "bases/web-ui/resources/web-ui/public/css" ; live reload CSS
                                 :hud #{:errors :progress}
                                 :ignore-warnings true}}
                ;; For prod
                :release {:compiler-options {:optimizations :advanced}}}}}
